[Unit]
Description=yt-heartbeat
After=network-online.target
Wants=network-online.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=yoku0825
Group=yoku0825
Type=simple

TimeoutSec=0
#ExecStartPre=
ExecStart=/usr/local/bin/yt-heartbeat -h "$host" -u "$user" --heartbeat_schema="$heartbeat_schema" --heartbeat_table="$heartbeat_table"
EnvironmentFile=-/etc/sysconfig/ytkit

Restart=on-failure
RestartPreventExitStatus=1
#PrivateTmp=false
